.form-control {
	background-color: rgba($color: #000000, $alpha: 0.1);
}

.navbar-dark {
	background: rgba($color: #000000, $alpha: 0.8);
}

.navbar {
	width: 100%;
	margin: auto;
}

// .navbar-expand-lg .navbar-collapse {
// 	// display: flex !important;
// 	justify-content: center;
// 	// flex-basis: auto;
// }

// .navbar {
// 	.container-fluid {
// 		.navbar-brand {
// 			padding-left: 30%;
// 		}
// 	}
// }
